# Azure Open AI - text-embedding-3-small
AZURE_OPENAI_KEY=
AZURE_OPENAI_ENDPOINT=
AZURE_OPENAI_API_VERSION=
AZURE_OPENAI_EMBEDDING_DEPLOYMENT=text-embedding-ada-002

# Azure Search Service
AZURE_SEARCH_KEY=
AZURE_SEARCH_ENDPOINT=
AZURE_GLOBAL_INDEX_NAME=global-index
EMBEDDING_DIMENSIONS=1536
MAX_CHUNK_SIZE=500
CHUNK_OVERLAP=100
GLOBAL_INDEX_TOP_K=50
PROVIDER_INDEX_TOP_K=50
MIN_SCORE=0.80

# Azure Blob Service
AZURE_STORAGE_CONNECTION_STRING=
AZURE_GLOBAL_CONTAINER_NAME=global-knowledgebase

# Claude API - Main LLM
CLAUDE_API_KEY=
CLAUDE_MODEL_HUDDLE=claude-sonnet-4-20250514
CLAUDE_MODEL_CHATBOT=claude-3-haiku-20240307
MAX_TOKEN=8000

# SQL Database
# host.docker.internal, localhost
MYSQL_HOST=localhost
MYSQL_PORT=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_DB=

# Azure Speech Service
AZURE_SPEECH_KEY=
AZURE_SPEECH_REGION=