# python cache
__pycache__

# For better security and scalability, use a Azure Key Vault
.env
# Keys used in local development
.env.local

# Temporary files
temp
/evaluator_service/tmp

# Prompt DB Dump
db_backups

# certs (Azure SQL)
certs/DigiCertGlobalRootCA.crt.pem

# IDE settings
/.vscode
