# python cache
__pycache__

# For better security and scalability, use a Azure Key Vault
.env

# Temporary files
temp

# Prompt DB Dump
db_backups

# certs
certs/DigiCertGlobalRootCA.crt.pem